/* Light style */
@media (prefers-color-scheme: light) {
  body {
    margin: 0;
    background-color: #f1f1f1;
    color: black;
  }

  * {
    font-family: open-sans;
  }

  .content {
    margin: 22% 300px 10px 300px;
    background-color: #bbb;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  .title-bar {
    text-align: center;
  }
}
