@font-face {
  font-family: bg;
  src: url("../fonts/BG/BrandonGrotesque-Regular.ttf");
}

@font-face {
  font-family: bg-bold;
  src: url("../fonts/BG/BrandonGrotesque-Bold.ttf");
}

@font-face {
  font-family: bg-light;
  src: url("../fonts/BG/BrandonGrotesque-Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(38,62,222);
  direction: ltr;
  font-family: lato;
  font-size: 14px;
  overflow-x: hidden;
  font-weight: 500;
}

img {
  width: 30px;
  height: 30px;
  transition: .2s;
}

img:hover {
  opacity: 0.8;
}

button, input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: bg;
  transition: .5s;
  font-weight: 900;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* The fucking nav bar */
.nav-bar {
  padding: 5px 15px;
}

.nav-bar-title {
  font-family: bg-bold;
  /* font-weight: 800; */
  font-size: large;
  color: white;
}

.social-network {
  direction: rtl;
}

.social-network-item > li {
  list-style-type: none;
  margin-top: 15px;
}

.text {
  text-align: center;
  padding: 20px 0;
}

.text > p {
  font-family: bg-bold;
  font-size: 30px;
  font-weight: 900;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 45%;
  font-size: 17px;
  font-family: bg-light;
}
